$main-color: #333333;
$main-font-size: 1rem;
$main-font-family: Arial;
$main-background-color: #E5E5E5;
$main-font-weight: 400;
$main-line-height: 1.25rem;
$main-border-color: #DADADA;
$main-site-background-color: #FFFFFF;

$description-background-color: #FFFBC8;
$comment-background-color: #F2FBFF;
$button-background-color: #FDD639;
$bottom-background-color: #F2F2F2;

$container: 490px;
$light-silver: #808080;
